:host {
    display: block;
    padding: 16px;
  }
  
  @media screen and (max-width: 1024px) {
    :host {
      max-width: 1024px;
    }
  }
  
  @media screen and (max-width: 767px) {
    :host {
      max-width: 767px;
    }
  }
  
  @media screen and (max-width: 600px) {
    :host {
      max-width: 480px;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

/* #sidebar{
    width: 200px;
    height: 100%;
    background-color: black;
} */
